#navbar .logo {
  float: none;
  text-align: center;
}

#navbar ul,
#navbar ul li {
  float: none;
}

#home-info .info-img {
  display: block;
  width: 100%;
  background: url("../img/photo-1.jpg") center center/cover;

  /* float: none; */
}

#home-info .info-content {
  float: left;
  width: 100%;
  color: black;
}

.box {
  float: none;
  width: 100%;
}

#about-info .info-right,
#about-info .info-left {
  float: none;
}

.l-heading {
  text-align: center;
}
