/* select basically everything */
* {
  color: blueviolet;
  /* font-size: 20px; */
}

.main-header {
  color: teal;
}

.header-two {
  color: darkorange;
}

p {
  color: darkolivegreen;
}

.second-headers {
  color: darkorchid;
}

body {
  background-color: whitesmoke;
}

#link {
  color: green;
}

/* two elements in the class but to select only one of the element use this... */
.list-h3 h3 {
  color: cornflowerblue;
}

.list-h3 ul {
  color: violet;
}

/* using the .list-h3 class to select the below h3 ... just use a + symbol */
.list-h3 + div {
  color: rgb(50, 168, 95);
}

/* to select all the child paragraph inside the div parent of class .para-h3  */
.para-h3 > p {
  color: goldenrod;
  font-weight: bold;
}

/* To select a specific child from the list of children */
.para-h3 p:nth-child(3) {
  color: rgb(154, 187, 34);
}
